@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --color-primary: #00b4d8;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-background: #f6f6f6;

  --border-radius-1: 0.4rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;

  --box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Fredoka", sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow: visible;
  color: var(--color-dark);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.76rem;
}

.profile-picture {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow-x: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.warning {
  color: var(--color-warning);
}

.success {
  color: var(--color-success);
}

aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  margin-left: 0.8rem;
}

aside .close {
  display: none;
}

/*----- Sidebar Styling -----*/
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 0.03s ease;
}

aside .sidebar a span {
  font-size: 1rem;
  transition: all 0.03s ease;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/*----- Account Display Styling -----*/
main {
  margin-top: 1.4rem;
}

main .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

main .top button {
  display: none;
}

main .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/*----- Services Transaction Styling -----*/
main .content-table h1 {
  margin-bottom: 1rem;
}
main .content-table {
  margin-top: 2rem;
}

main .content-table h2 {
  margin-bottom: 0.8rem;
}

main .content-table table {
  font-size: 1rem;
  background: var(--color-white);
  width: 100%;
  border-radius: var(--border-radius-3);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transform: all 0.03s ease;
}

main .content-table table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .content-table a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7em auto;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }
}

/*----- Services Transaction Styling -----*/

.services-bills-receipts {
  margin-top: 3rem;
}

.bills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
  gap: 1rem;
}

.bill {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius-3);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.03s ease;
}

.bill:hover {
  box-shadow: none;
}

@media screen and (max-width: 935px) {
  .services-bills-receipts {
    text-align: center;
  }

  .bills-container {
    grid-template-columns: 1fr;
    gap: 0;
    width: 100%;
  }

  .bill {
    width: 90%;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 778px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background-color: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 0.04s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
    font-size: 1.7rem;
  }

  main {
    width: 100%;
    margin-top: 3rem;
    padding: 0 3rem;
  }

  main .content-table {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .content-table table {
    width: 100%;
    margin: 0;
    font-size: 1rem;
  }

  .bill {
    font-size: 1rem;
  }

  main .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  main .top .profile-picture {
    margin-right: 1rem;
  }

  main .top .info {
    display: none;
  }

  main .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
    font-size: 1.7rem;
  }

  main .main-content {
    margin-top: 5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 595px) {
  main .content-table table {
    font-size: 0.7rem;
  }

  .bill {
    font-size: 0.8rem;
  }
}

/*----- Recent Bookings Styling -----*/
main .recent-bookings {
  margin-top: 2rem;
}

main .recent-bookings h2 {
  margin-bottom: 0.8rem;
}

main .recent-bookings table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transform: all 0.03s ease;
  border-radius: var(--border-radius-3);
}

main .recent-bookings table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-bookings a {
  text-align: center;

  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

/* Styling for the form */
.search-form {
  margin-bottom: 20px;
}
/* Styling for the input */
.search-form input[type="search"] {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 200px;
}

/* Styling for the button */
.search-form button {
  background: var(--color-dark);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.search-form button:hover {
  box-shadow: #7d8da1;
}
