@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --color-primary: #00b4d8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f6;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    color: var(--color-dark);
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/*----- Top Description Section -----*/
.services{
    margin-top: 8%;
    padding: var(--padding-1);
}

.services .content{
    width: 100%;
    text-align: center;
}

.services .content h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.services .content p{
    font-size: 1.1rem;
    font-weight: 400;
    width: 70%;
    margin: 1rem auto;
}

/* -------------- Services Section -------------- */
.container{
    width: 85%;
    margin: 4rem auto;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;
}

.service{
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 100%;
}

.service img{
    width: 60%;
    border-radius: var(--border-radius-1);
    margin-bottom: 1rem;
}

.service h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.service p{
    font-size: 1.2rem;
}

/* -------------- Footer Section -------------- */
.footer{
    background-color: var(--color-background);
    color: var(--color-dark);
    padding: var(--padding-1);
    text-align: center;
    width: 100%;
}

.footer .container{
    margin: 0 auto;
    padding: var(--padding-1);
}

.footer .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.column{
    padding: var(--padding-1);
    background-color: transparent;
}

.column h3{
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}

.column p{
    margin: 0.5rem 0;
}

.footer a{
    text-decoration: none;
    color: var(--color-dark);
}

.contact p{
    margin: 1rem 0;
}

.contact .fa-solid{
    margin: 0 .5rem;
}

.socials-btn {
    background: transparent;
    border: none;
    color: var(--color-dark);
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: all 0.03s ease;
}

.socials-btn:hover{
    color: var(--color-white);
}

.copyright{
    padding: var(--padding-1);
    text-align: center;
    margin-top: 0.5rem;
}

/* -------------- Responsiveness Section -------------- */
@media (max-width: 1000px){
    .footer{
        width: 100%;
    }

    .container .row, .benefits, .grid{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 800px){
    .services{
        margin: 5rem 0;
    }

    .services .content h1 {
        font-size: 2rem; 
    }

    .services .content p {
        font-size: 1rem; 
    }

    .service h3 {
        font-size: 1.3rem;
    }

    .service p {
        font-size: 1rem; 
    }
}