@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --color-primary: #00b4d8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f6;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-white);
    color: var(--color-dark);
    overflow: hidden;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.wrapper{
    position: relative;
    margin: 6rem;
    width: 30rem;
    height: 27rem;
    border: 3px solid var(--color-light);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 43rem;
}

.wrapper .form-box{
    width: 100%;
    padding: var(--card-padding);
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-600px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(600px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2{
    font-size: 2rem;
    text-align: center;
}

.client-admin{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

.client-admin label{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.input-box{
    position: relative;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid var(--color-dark);
    margin: 1.8rem 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-dark-variant);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 2.2rem 0 5px;
}

.input-box .icon{
    position: absolute;
    right: .5rem;
    font-size: 1rem;
    line-height: 3rem;
}

.remember-forgot{
    font-size: .9rem;
    font-weight: 500;
    margin: 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: var(--color-dark);
}

.remember-forgot a{
    color: var(--color-dark);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 3rem;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: var(--border-radius-1);
    margin-top: .5rem;
    cursor: pointer;
}

.login-register{
    font-size: .9rem;
    text-align: center;
    font-weight: 500;
    margin: 1.5rem 0 .6rem;
}

.login-register p a{
    color: var(--color-dark);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.user-info{
    display: flex;
    gap: 1.3rem;
    margin-top: .6rem;
}

/*----- Footer Section -----*/
.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0 1.875rem;
    margin-top: 56.25rem;
    margin-bottom: 0.625rem;
}

.socials-btn {
    background: transparent;
    border: none;
    color: var(--color-dark);
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: all 0.03s ease;
    text-align: center;
}

.socials-btn:hover{
    color: var(--color-white);
}

.copyright{
    padding: var(--padding-1);
    text-align: center;
    margin-top: 0.5rem;
}