@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --color-primary: #00b4d8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f6;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Fredoka", sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow: visible;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.76rem;
}

.profile-picture{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow-x: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    margin-left: 0.8rem;
}

aside .close{
    display: none;
}

/*----- Sidebar Styling -----*/
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.03s ease;
}

aside .sidebar a span{
    font-size: 1rem;
    transition: all 0.03s ease;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

/*----- Account Display Styling -----*/
main{
    margin-top: 1.4rem;
}

main .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

main .top button{
    display: none;
}

main .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*----- Main Content Styling -----*/
.main-content h1{
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-info-dark);
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"],
input[type="url"],
input[type="file"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-info-dark);
    margin-bottom: 1rem;
    font-size: 1rem;
}

textarea {
    height: 100px;
    resize: none;
}

.form-section {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
    transition: all 0.03s ease;
}

.form-section:hover{
    box-shadow: none;
}

.form-section h2{
    margin-bottom: 1rem;
}

.form-section p{
    color: var(--color-info-dark);
}

.form-section .subtitle{
    font-size: 1.2rem;
    margin: 0.4rem 0;
    font-weight: 500;
}

.form-btn {
    display: flex;
    justify-content: flex-end;
}

.form-btn button {
    padding: 0.8rem 1.6rem;
    border-radius: var(--border-radius-3);
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0  0.1rem 0.7rem 0.24rem rgba(132, 139, 200, 0.5);
    transition: all 0.03s ease;
}

.form-btn button:hover {
    opacity: 0.7;
    box-shadow: none;
}

/*----- Checkbox Display -----*/
input[type="checkbox"] {
    all: unset;
    -webkit-appearance: checkbox;
    appearance: checkbox; 
    accent-color: var(--color-primary);
    margin: 1rem;
}

.checkbox-display label {
    font-size: 1rem;
    font-weight: 500;
}

/*----- Current Service Display -----*/
.service-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.service-option img{
    width: 50%;
    border-radius: var(--border-radius-1);
    margin-bottom: 1rem;
}

.service-option p{
    line-height: 1.5rem;
}

/*----- All Popup Forms-----*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity 0.3s ease;
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: var(--color-white); 
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    z-index: 20;
    display: none;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.popup-form.active {
    display: block;
    opacity: 1; 
}

.delete{
    top: 50%;
    left: 50%;
}

.confirm-msg{
    font-size: 1.4rem;
}

/*----- All Popup Buttons-----*/
.add-service{
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--color-primary);
    font-weight: 800;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.cancel-btn, .save-btn, .confirm-btn, .delete-btn, .edit-btn{
    font-size: 0.9rem;
    padding: 1rem;
    background-color: var(--color-danger);
    font-weight: 800;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.save-btn{
    background-color: var(--color-primary);
}
.confirm-btn{
    background-color: var(--color-success);
}

.edit-btn{
    background-color: var(--color-light);
}

.service-option .btn{
    margin: 0.5rem 0.2rem;
}

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7em auto;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    .service-list{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 778px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background-color: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 0.04s ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
        font-size: 1.7rem;
    }

    main{
        width: 94%;
    }

    main .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 .8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    main .top .profile-picture{
        margin-right: 1rem;
    }

    main .top .info{
        display: none;
    }

    main .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
        font-size: 1.7rem;
    }

    main .main-content{
        margin-top: 5rem;
        margin-left: 3rem;
    }
}