@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.logo{
    font-size: 32px;
    color: #212427;
    text-decoration: none;
    font-weight: 700;
    user-select: none;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #212427;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #212427;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar .login-btn{
    border: none;
    color: #faf9fa;
    background: #212427;
    border-radius: 10px;
    padding: 8px 25px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.25s;
}

.navbar .login-btn:hover{
    background-color: #c8c8c8;
}

.toggle-btn{
    position: relative;
    font-size: 2rem;
    color: #212427;
    cursor: pointer;
    display: none;
}

.navbar .btn{
    text-decoration: none;
}

.navbar .btn::before{
    background-color: transparent;
}

/* Breakdown */
@media(max-width: 880px){
    .header{
        padding: 20px 50px ;
    }

    .toggle-btn{
        display: block;
    }

    .toggle-btn.active::before{
        content: '\f00d';
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #faf9fa;
        padding: 0 5%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
        transform: scale(0);
        transition: 0s ease;
        transform-origin: top center;
    }

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        display: block;
        margin: 1.5rem 0;
        font-size: 20px;
    }

    .navbar a::before{
        background-color: transparent;
    }

    .navbar a:hover{
        color: #c8c8c8;
    }

    .navbar .login-btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 15px 50px;
    }
}