:root{
    --color-primary: #00b4d8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f6;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    font-family: "Fredoka", sans-serif;
}

body {
    overflow:auto;
}

button {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;

}

button:hover {
    background-color: #d32f2f;
}


li {
    list-style-type: none;
    margin: 1rem;
}

label {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    align-self: top;
}

.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}