@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --color-primary: #00b4d8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f6;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.navbar a{
    position: relative;
    font-size: 1.2rem;
    color: var(--color-dark);
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all .3s ease;
}

.navbar a:hover{
    color: var(--color-primary);
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 0;
    background-color: var(--color-primary);
    transition: all .3s ease;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar .login-btn{
    border: none;
    color: var(--color-white);
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1.5rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

.navbar .login-btn:hover{
    box-shadow: var(--box-shadow);
    color: var(--color-primary);
    background-color: var(--color-light);
    border-color: var(--color-primary);
    border-style: solid;
    border-width: 2px;
}

.toggle-btn{
    position: relative;
    font-size: 2rem;
    color: var(--color-dark);
    cursor: pointer;
    display: none;
}

.navbar .btn{
    text-decoration: none;
}

.navbar .btn::before{
    background-color: transparent;
}

/* ------------- NavBar Responsiveness ------------- */
@media(max-width: 880px){
    .header{
        padding: 2rem 2rem;
    }


    .toggle-btn{
        display: block;
        background: transparent;
    }

    .toggle-btn.active{
        background-color: transparent;
    }

    .toggle-btn.active::before{
        content: '\f00d';
        background-color: transparent;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-white);
        padding: 0 5%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
        transform: scale(0);
        transition: all 0s ease;
        transform-origin: top center;
    }

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        display: block;
        margin: 1.5rem 0;
        font-size: 1.5rem;
    }

    .navbar a::before{
        background-color: transparent;
    }

    .navbar a:hover{
        color: var(--color-primary);
    }

    .navbar .login-btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        padding: .75rem 2rem;
    }
}